<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../favicon.png" />
		<script src="https://kit.fontawesome.com/76b174a5e9.js" crossorigin="anonymous"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="../../_app/immutable/entry/start.1b261651.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.0dcca97d.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/singletons.36e11856.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.3556481d.js">
		<link rel="modulepreload" href="../../_app/immutable/entry/app.3d6c2381.js">

		<script>

		</script>
	</head>
	<body>
		<div>
			<script>
				{
					__sveltekit_tjvzr1 = {
						assets: "/bexis2-core-ui",
						base: new URL("../..", location).pathname.slice(0, -1),
						env: {}
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../../_app/immutable/entry/start.1b261651.js"),
						import("../../_app/immutable/entry/app.3d6c2381.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
