<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../favicon.png" />
		<script src="https://kit.fontawesome.com/76b174a5e9.js" crossorigin="anonymous"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="../../_app/immutable/entry/start.e8c2decf.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.9a980381.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/singletons.f41a5420.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.5c326a8b.js">
		<link rel="modulepreload" href="../../_app/immutable/entry/app.ae18d790.js">

		<script></script>
	</head>
	<body class="variant" data-theme="bexis2theme">
		<div>
			<script>
				{
					__sveltekit_6coyhl = {
						assets: "/bexis2-core-ui",
						base: new URL("../..", location).pathname.slice(0, -1),
						env: {}
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../../_app/immutable/entry/start.e8c2decf.js"),
						import("../../_app/immutable/entry/app.ae18d790.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
