<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../favicon.png" />
		<script src="https://kit.fontawesome.com/76b174a5e9.js" crossorigin="anonymous"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link href="../../_app/immutable/assets/0.6780e825.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/theme-bexis2.6bd076c9.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/ProgressBar.4f1e9ba5.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/index.95b16411.css" rel="stylesheet">
		<link rel="modulepreload" href="../../_app/immutable/entry/start.c777f38d.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.a4c6af49.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/singletons.a64a201a.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.8e4ddf86.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/paths.d27352ce.js">
		<link rel="modulepreload" href="../../_app/immutable/entry/app.0a7c8b68.js">
		<link rel="modulepreload" href="../../_app/immutable/nodes/0.b053ba89.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/stores.e06d5ce2.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/ProgressBar.svelte_svelte_type_style_lang.6b6ffce1.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/AppShell.917624df.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/stores.43760f85.js">
		<link rel="modulepreload" href="../../_app/immutable/nodes/17.42ca4472.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/Alert.7972b636.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.939af9e7.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.29964873.js">

		<script></script>
	</head>
	<body class="variant">
		<div>


<div id="appShell" class="w-full h-full flex flex-col overflow-hidden " data-testid="app-shell">
	

	
	<div class="flex-auto w-full h-full flex overflow-hidden">
		<aside id="sidebar-left" class="flex-none overflow-x-hidden overflow-y-auto flex-none overflow-x-hidden overflow-y-auto bg-surface-50-900-token lg:w-auto">
		<div class="grid grid-cols-[auto_1fr] h-full bg-surface-50-900-token border-r border-surface-500/30 hidden lg:grid w-[360px] overflow-hidden">

<div class="app-rail grid grid-rows-[auto_1fr_auto] overflow-y-auto bg-transparent border-r border-surface-500/30 w-[70px] h-full gap-0 " data-testid="app-rail">
	<div class="app-bar-lead box-border "><label class="app-rail-tile cursor-pointer " data-testid="app-rail-tile" title="Tile">
	
	
	<div class="app-rail-wrapper flex flex-col justify-center items-stretch aspect-square undefined bg-primary-hover-token ">
		<div class="h-0 w-0 overflow-hidden"><input type="radio" value="general" label="General" tabindex="-1"></div>
		
		<div class="app-rail-interface text-center space-y-1">
			<div class="app-rail-label font-bold text-xs "><i class="fa-solid fa-screwdriver-wrench text-2xl"></i></div></div></div></label>
			<label class="app-rail-tile cursor-pointer " data-testid="app-rail-tile" title="Tile">
	
	
	<div class="app-rail-wrapper flex flex-col justify-center items-stretch aspect-square undefined bg-primary-hover-token ">
		<div class="h-0 w-0 overflow-hidden"><input type="radio" value="theme" label="Theme" tabindex="-1"></div>
		
		<div class="app-rail-interface text-center space-y-1">
			<div class="app-rail-label font-bold text-xs "><i class="fa-solid fa-code-compare text-2xl"></i></div></div></div></label>
			<label class="app-rail-tile cursor-pointer " data-testid="app-rail-tile" title="Tile">
	
	
	<div class="app-rail-wrapper flex flex-col justify-center items-stretch aspect-square undefined bg-primary-hover-token ">
		<div class="h-0 w-0 overflow-hidden"><input type="radio" value="components" label="Components" tabindex="-1"></div>
		
		<div class="app-rail-interface text-center space-y-1">
			<div class="app-rail-label font-bold text-xs "><i class="fa-solid fa-list-check text-2xl"></i></div></div></div></label></div>
	
	<div class="app-bar-default box-border "></div>
	
	<div class="app-bar-trail box-border "></div></div>

	<section class="p-4 pb-20 space-y-4 overflow-y-auto">
				<div id="general" class="text-primary-700 dark:text-primary-500 font-bold uppercase px-4">General</div>
				
				<nav class="list-nav"><ul><li><a href="/bexis2-core-ui/" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Home<!-- HTML_TAG_END --></span>
									</a>
							</li>
					</ul></nav>
				
				<hr class="!my-6 opacity-50">
				<div id="code" class="text-primary-700 dark:text-primary-500 font-bold uppercase px-4">Code Rules</div>
				
				<nav class="list-nav"><ul><li><a href="/bexis2-core-ui/code/naming" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Naming Convertions<!-- HTML_TAG_END --></span>
									</a>
							</li><li><a href="/bexis2-core-ui/code/design" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Color Convertions<!-- HTML_TAG_END --></span>
									</a>
							</li>
					</ul></nav>
				
				<hr class="!my-6 opacity-50">
				<div id="theme" class="text-primary-700 dark:text-primary-500 font-bold uppercase px-4">Theme</div>
				
				<nav class="list-nav"><ul><li><a href="/bexis2-core-ui/components/theme" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Theme/Layout<!-- HTML_TAG_END --></span>
									</a>
							</li><li><a href="/bexis2-core-ui/components/page" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Page<!-- HTML_TAG_END --></span>
									</a>
							</li>
					</ul></nav>
				
				<hr class="!my-6 opacity-50">
				<div id="components" class="text-primary-700 dark:text-primary-500 font-bold uppercase px-4">Components</div>
				
				<nav class="list-nav"><ul><li><a href="/bexis2-core-ui/components/core" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Core<!-- HTML_TAG_END --></span>
									</a>
							</li><li><a href="/bexis2-core-ui/components/icon" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Icons<!-- HTML_TAG_END --></span>
									</a>
							</li><li><a href="/bexis2-core-ui/components/form" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Form<!-- HTML_TAG_END --></span>
									</a>
							</li><li><a href="/bexis2-core-ui/components/table" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Table<!-- HTML_TAG_END --></span>
									</a>
							</li><li><a href="/bexis2-core-ui/components/codeEditor" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Code Editor<!-- HTML_TAG_END --></span>
									</a>
							</li>
					</ul></nav>
				
				<hr class="!my-6 opacity-50">
				<div id="backend" class="text-primary-700 dark:text-primary-500 font-bold uppercase px-4">Backend</div>
				
				<nav class="list-nav"><ul><li><a href="/bexis2-core-ui/backend/hooks" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Hooks<!-- HTML_TAG_END --></span>
									</a>
							</li>
					</ul></nav>
				
				</section></div>
	</aside>

		
		<div id="page" class=" flex-1 overflow-x-hidden flex flex-col">
			

			
			<main id="page-content" class="flex-auto ">
	
	
	
	<div class="p-5"><h1>Bexis 2 Color Theme</h1>

	<h2 class="h2">Color overview</h2>
	<div class="card p-5 my-10">
				

				<div class="py-2"><h3>primary</h3>
					<div class="grid grid-cols-11 gap-0"><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">50</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-primary-50"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">100</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-primary-100"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">200</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-primary-200"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">300</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-primary-300"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">400</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-primary-400"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">500</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-primary-500"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">600</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-primary-600"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">700</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-primary-700"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">800</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-primary-800"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">900</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-primary-900"></div></div>
							</div></div>
				</div>
				

				<div class="py-2"><h3>secondary</h3>
					<div class="grid grid-cols-11 gap-0"><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">50</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-secondary-50"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">100</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-secondary-100"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">200</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-secondary-200"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">300</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-secondary-300"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">400</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-secondary-400"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">500</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-secondary-500"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">600</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-secondary-600"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">700</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-secondary-700"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">800</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-secondary-800"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">900</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-secondary-900"></div></div>
							</div></div>
				</div>
				

				<div class="py-2"><h3>tertiary</h3>
					<div class="grid grid-cols-11 gap-0"><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">50</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-tertiary-50"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">100</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-tertiary-100"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">200</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-tertiary-200"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">300</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-tertiary-300"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">400</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-tertiary-400"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">500</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-tertiary-500"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">600</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-tertiary-600"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">700</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-tertiary-700"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">800</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-tertiary-800"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">900</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-tertiary-900"></div></div>
							</div></div>
				</div>
				

				<div class="py-2"><h3>success</h3>
					<div class="grid grid-cols-11 gap-0"><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">50</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-success-50"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">100</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-success-100"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">200</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-success-200"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">300</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-success-300"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">400</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-success-400"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">500</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-success-500"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">600</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-success-600"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">700</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-success-700"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">800</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-success-800"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">900</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-success-900"></div></div>
							</div></div>
				</div>
				

				<div class="py-2"><h3>warning</h3>
					<div class="grid grid-cols-11 gap-0"><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">50</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-warning-50"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">100</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-warning-100"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">200</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-warning-200"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">300</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-warning-300"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">400</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-warning-400"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">500</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-warning-500"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">600</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-warning-600"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">700</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-warning-700"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">800</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-warning-800"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">900</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-warning-900"></div></div>
							</div></div>
				</div>
				

				<div class="py-2"><h3>error</h3>
					<div class="grid grid-cols-11 gap-0"><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">50</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-error-50"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">100</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-error-100"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">200</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-error-200"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">300</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-error-300"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">400</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-error-400"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">500</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-error-500"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">600</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-error-600"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">700</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-error-700"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">800</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-error-800"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">900</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-error-900"></div></div>
							</div></div>
				</div>
				

				<div class="py-2"><h3>surface</h3>
					<div class="grid grid-cols-11 gap-0"><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">50</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-surface-50"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">100</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-surface-100"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">200</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-surface-200"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">300</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-surface-300"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">400</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-surface-400"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">500</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-surface-500"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">600</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-surface-600"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">700</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-surface-700"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">800</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-surface-800"></div></div>
							</div><div class="grid grid-rows-[1fr_40px] text-center"><div class="text-surface-700 dark:text-surface-300 text-sm">900</div>
								<div class="bg-black/5 dark:bg-white/5"><div class="h-full flex justify-center items-center bg-surface-900"></div></div>
							</div></div>
				</div></div>

	<h2 class="h2">Buttons</h2>

	<div class="card grid p-5 my-10 gap-5"><h3 class="h3">Filled</h3>
		<div class="grid grid-cols-7 gap-4"><button class="btn variant-filled-primary">primary</button><button class="btn variant-filled-secondary">secondary</button><button class="btn variant-filled-tertiary">tertiary</button><button class="btn variant-filled-success">success</button><button class="btn variant-filled-warning">warning</button><button class="btn variant-filled-error">error</button><button class="btn variant-filled-surface">surface</button></div>
		<h3 class="h3">Ringed</h3>
		<div class="grid grid-cols-7 gap-4"><button class="btn variant-ringed-primary">primary</button><button class="btn variant-ringed-secondary">secondary</button><button class="btn variant-ringed-tertiary">tertiary</button><button class="btn variant-ringed-success">success</button><button class="btn variant-ringed-warning">warning</button><button class="btn variant-ringed-error">error</button><button class="btn variant-ringed-surface">surface</button></div>
		<h3 class="h3">Soft</h3>
		<div class="grid grid-cols-7 gap-4"><button class="btn variant-soft-primary">primary</button><button class="btn variant-soft-secondary">secondary</button><button class="btn variant-soft-tertiary">tertiary</button><button class="btn variant-soft-success">success</button><button class="btn variant-soft-warning">warning</button><button class="btn variant-soft-error">error</button><button class="btn variant-soft-surface">surface</button></div>
		<h3 class="h3">Ghost</h3>
		<div class="grid grid-cols-7 gap-4"><button class="btn variant-ghost-primary">primary</button><button class="btn variant-ghost-secondary">secondary</button><button class="btn variant-ghost-tertiary">tertiary</button><button class="btn variant-ghost-success">success</button><button class="btn variant-ghost-warning">warning</button><button class="btn variant-ghost-error">error</button><button class="btn variant-ghost-surface">surface</button></div></div>

	<h2 class="h2">Alerts</h2>
	<div class="card grid p-5 my-10 gap-5"><h3 class="h3">Filled</h3>
		<div class="grid grid-cols-3 gap-4"><aside class="alert variant-filled-primary">
		
		
		<div class="alert-message">
			<p>primary
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-filled-secondary">
		
		
		<div class="alert-message">
			<p>secondary
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-filled-tertiary">
		
		
		<div class="alert-message">
			<p>tertiary
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-filled-success">
		
		
		<div class="alert-message">
			<p>success
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-filled-warning">
		
		
		<div class="alert-message">
			<p>warning
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-filled-error">
		
		
		<div class="alert-message">
			<p>error
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-filled-surface">
		
		
		<div class="alert-message">
			<p>surface
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside></div>
		<h3 class="h3">Ringed</h3>
		<div class="grid grid-cols-3 gap-4"><aside class="alert variant-ringed-primary">
		
		
		<div class="alert-message">
			<p>primary
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-ringed-secondary">
		
		
		<div class="alert-message">
			<p>secondary
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-ringed-tertiary">
		
		
		<div class="alert-message">
			<p>tertiary
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-ringed-success">
		
		
		<div class="alert-message">
			<p>success
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-ringed-warning">
		
		
		<div class="alert-message">
			<p>warning
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-ringed-error">
		
		
		<div class="alert-message">
			<p>error
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-ringed-surface">
		
		
		<div class="alert-message">
			<p>surface
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside></div>
		<h3 class="h3">Soft</h3>
		<div class="grid grid-cols-3 gap-4"><aside class="alert variant-soft-primary">
		
		
		<div class="alert-message">
			<p>primary
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-soft-secondary">
		
		
		<div class="alert-message">
			<p>secondary
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-soft-tertiary">
		
		
		<div class="alert-message">
			<p>tertiary
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-soft-success">
		
		
		<div class="alert-message">
			<p>success
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-soft-warning">
		
		
		<div class="alert-message">
			<p>warning
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-soft-error">
		
		
		<div class="alert-message">
			<p>error
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-soft-surface">
		
		
		<div class="alert-message">
			<p>surface
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside></div>
		<h3 class="h3">Ghost</h3>
		<div class="grid grid-cols-3 gap-4"><aside class="alert variant-ghost-primary">
		
		
		<div class="alert-message">
			<p>primary
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-ghost-secondary">
		
		
		<div class="alert-message">
			<p>secondary
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-ghost-tertiary">
		
		
		<div class="alert-message">
			<p>tertiary
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-ghost-success">
		
		
		<div class="alert-message">
			<p>success
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-ghost-warning">
		
		
		<div class="alert-message">
			<p>warning
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-ghost-error">
		
		
		<div class="alert-message">
			<p>error
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside><aside class="alert variant-ghost-surface">
		
		
		<div class="alert-message">
			<p>surface
				</p></div>
		
		<div class="alert-actions">

			<button class="btn hover:text-primary-100"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 384 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(192 256)" transform-origin="96 0"><g transform="translate(0,0) scale(1,1)"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="currentColor" transform="translate(-192 -256)"></path></g></g></svg></button></div></aside></div></div></div>
	
	
	</main>

			
			</div>

		
		</div>

	
	</div>


			
			<script>
				{
					__sveltekit_1bjtihr = {
						assets: "/bexis2-core-ui",
						base: new URL("../..", location).pathname.slice(0, -1),
						env: {}
					};

					const element = document.currentScript.parentElement;

					const data = [null,null];

					Promise.all([
						import("../../_app/immutable/entry/start.c777f38d.js"),
						import("../../_app/immutable/entry/app.0a7c8b68.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 17],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
