<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../favicon.png" />
		<script src="https://kit.fontawesome.com/76b174a5e9.js" crossorigin="anonymous"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="../../_app/immutable/entry/start.QWEJZF2S.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/CZAasBbX.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/C4Y4HYsz.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/CCemFyO1.js" rel="modulepreload">
		<link href="../../_app/immutable/entry/app.DrhEuB68.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/CJdiHz8e.js" rel="modulepreload">
		<link href="../../_app/immutable/nodes/0.Cue67rdf.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/BW6kD_a-.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/BPfwCFTf.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/Cr9FMk5Y.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/CIvnRrKo.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/DyBPEGWE.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/BiM9Ohvl.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/Dn9mOwID.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/CXZaXzQg.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/CGFmhBEf.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/r2DObvmW.js" rel="modulepreload">
		<link href="../../_app/immutable/nodes/21.DY2IeIFm.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/2uBWKPNl.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/DrENKVfn.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/DA7nw_lv.js" rel="modulepreload">
		
		<link href="../../_app/immutable/assets/ProgressBar.c6i8ireL.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/0.DYnVExLJ.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/theme-bexis2.BT5H_Uwe.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/index.DdWHEj6G.css" rel="stylesheet">

		<script></script>
	</head>
	<body class="variant" data-theme="bexis2theme">
		<div>
			<script>
				{
					__sveltekit_1my6aj8 = {
						base: new URL("../..", location).pathname.slice(0, -1),
						assets: "/bexis2-core-ui"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../../_app/immutable/entry/start.QWEJZF2S.js"),
						import("../../_app/immutable/entry/app.DrhEuB68.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
