<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../favicon.png" />
		<script src="https://kit.fontawesome.com/76b174a5e9.js" crossorigin="anonymous"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link href="../../_app/immutable/assets/0.fd937737.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/theme-bexis2.6bd076c9.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/ProgressBar.4f1e9ba5.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/index.95b16411.css" rel="stylesheet">
		<link rel="modulepreload" href="../../_app/immutable/entry/start.66b54f5f.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.79ee095d.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/singletons.72c525e3.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.ed81c708.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/paths.f1da77ec.js">
		<link rel="modulepreload" href="../../_app/immutable/entry/app.5ccbacc7.js">
		<link rel="modulepreload" href="../../_app/immutable/nodes/0.7d2439e2.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/stores.daa204b6.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/stores.3620006b.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/ProgressBar.svelte_svelte_type_style_lang.c157fd6e.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/AppShell.9fc07a3b.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/stores.8960ce4d.js">
		<link rel="modulepreload" href="../../_app/immutable/nodes/5.b1f754f3.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/TableOfContents.207309df.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.aabacfd1.js">
		<link rel="modulepreload" href="../../_app/immutable/nodes/14.ea8eddc9.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/CodeContainer.7e13d70a.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/store.9d977de5.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/floating-ui.dom.a7a15156.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.4fcdd52c.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/Page.5d2c2e1e.js">

		<script></script>
	</head>
	<body class="variant" data-theme="bexis2Theme">
		<div>


<div id="appShell" class="w-full h-full flex flex-col overflow-hidden " data-testid="app-shell">
	

	
	<div class="flex-auto w-full h-full flex overflow-hidden">
		<aside id="sidebar-left" class="flex-none overflow-x-hidden overflow-y-auto flex-none overflow-x-hidden overflow-y-auto bg-surface-50-900-token lg:w-auto">
		<div class="grid grid-cols-[auto_1fr] h-full bg-surface-50-900-token border-r border-surface-500/30 hidden lg:grid w-[360px] overflow-hidden">

<div class="app-rail grid grid-rows-[auto_1fr_auto] overflow-y-auto bg-transparent border-r border-surface-500/30 w-[70px] h-full gap-0 " data-testid="app-rail">
	<div class="app-bar-lead box-border "><label class="app-rail-tile cursor-pointer " data-testid="app-rail-tile" title="Tile">
	
	
	<button class="app-rail-wrapper flex flex-col justify-center items-stretch w-full aspect-square undefined bg-primary-hover-token " tabindex="0">
		<div class="h-0 w-0 overflow-hidden"><input type="radio" value="general" label="General" tabindex="-1"></div>
		
		<div class="app-rail-interface text-center space-y-1">
			<div class="app-rail-label font-bold text-xs "><i class="fa-solid fa-screwdriver-wrench text-2xl"></i></div></div></button></label>
			<label class="app-rail-tile cursor-pointer " data-testid="app-rail-tile" title="Tile">
	
	
	<button class="app-rail-wrapper flex flex-col justify-center items-stretch w-full aspect-square undefined bg-primary-hover-token " tabindex="0">
		<div class="h-0 w-0 overflow-hidden"><input type="radio" value="theme" label="Theme" tabindex="-1"></div>
		
		<div class="app-rail-interface text-center space-y-1">
			<div class="app-rail-label font-bold text-xs "><i class="fa-solid fa-code-compare text-2xl"></i></div></div></button></label>
			<label class="app-rail-tile cursor-pointer " data-testid="app-rail-tile" title="Tile">
	
	
	<button class="app-rail-wrapper flex flex-col justify-center items-stretch w-full aspect-square undefined bg-primary-hover-token " tabindex="0">
		<div class="h-0 w-0 overflow-hidden"><input type="radio" value="components" label="Components" tabindex="-1"></div>
		
		<div class="app-rail-interface text-center space-y-1">
			<div class="app-rail-label font-bold text-xs "><i class="fa-solid fa-list-check text-2xl"></i></div></div></button></label></div>
	
	<div class="app-bar-default box-border "></div>
	
	<div class="app-bar-trail box-border "></div></div>

	<section class="p-4 pb-20 space-y-4 overflow-y-auto">
				<div id="general" class="text-primary-700 dark:text-primary-500 font-bold uppercase px-4">General</div>
				
				<nav class="list-nav"><ul><li><a href="/bexis2-core-ui/" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Home<!-- HTML_TAG_END --></span>
									</a>
							</li>
					</ul></nav>
				
				<hr class="!my-6 opacity-50">
				<div id="code" class="text-primary-700 dark:text-primary-500 font-bold uppercase px-4">Code Rules</div>
				
				<nav class="list-nav"><ul><li><a href="/bexis2-core-ui/code/naming" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Naming Convertions<!-- HTML_TAG_END --></span>
									</a>
							</li><li><a href="/bexis2-core-ui/code/design" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Color Convertions<!-- HTML_TAG_END --></span>
									</a>
							</li>
					</ul></nav>
				
				<hr class="!my-6 opacity-50">
				<div id="theme" class="text-primary-700 dark:text-primary-500 font-bold uppercase px-4">Theme</div>
				
				<nav class="list-nav"><ul><li><a href="/bexis2-core-ui/components/theme" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Theme/Layout<!-- HTML_TAG_END --></span>
									</a>
							</li><li><a href="/bexis2-core-ui/components/page" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Page<!-- HTML_TAG_END --></span>
									</a>
							</li>
					</ul></nav>
				
				<hr class="!my-6 opacity-50">
				<div id="components" class="text-primary-700 dark:text-primary-500 font-bold uppercase px-4">Components</div>
				
				<nav class="list-nav"><ul><li><a href="/bexis2-core-ui/components/core" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Core<!-- HTML_TAG_END --></span>
									</a>
							</li><li><a href="/bexis2-core-ui/components/icon" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Icons<!-- HTML_TAG_END --></span>
									</a>
							</li><li><a href="/bexis2-core-ui/components/form" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Form<!-- HTML_TAG_END --></span>
									</a>
							</li><li><a href="/bexis2-core-ui/components/table" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Table<!-- HTML_TAG_END --></span>
									</a>
							</li><li><a href="/bexis2-core-ui/components/codeEditor" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Code Editor<!-- HTML_TAG_END --></span>
									</a>
							</li>
					</ul></nav>
				
				<hr class="!my-6 opacity-50">
				<div id="backend" class="text-primary-700 dark:text-primary-500 font-bold uppercase px-4">Backend</div>
				
				<nav class="list-nav"><ul><li><a href="/bexis2-core-ui/backend/hooks" class="" data-sveltekit-preload-data="hover"><span class="flex-auto"><!-- HTML_TAG_START -->Hooks<!-- HTML_TAG_END --></span>
									</a>
							</li>
					</ul></nav>
				
				</section></div>
	</aside>

		
		<div id="page" class=" flex-1 overflow-x-hidden flex flex-col" style="scrollbar-gutter: auto;">
			

			
			<main id="page-content" class="flex-auto ">
	
	
	
	<div id="appShell" class="w-full h-full flex flex-col overflow-hidden " data-testid="app-shell">
	

	
	<div class="flex-auto w-full h-full flex overflow-hidden">
		

		
		<div id="page" class=" flex-1 overflow-x-hidden flex flex-col" style="scrollbar-gutter: auto;">
			

			
			<main id="page-content" class="flex-auto "><div id="toc-target"><div id="appShell" class="w-full h-full flex flex-col overflow-hidden " data-testid="app-shell">
	<header id="shell-header" class="flex-none z-10">
		<div class="app-bar flex flex-col white  space-y-0 0  " data-testid="app-bar" role="toolbar" aria-label="" aria-labelledby="">
	<div class="app-bar-row-main grid items-center grid-cols-[auto_1fr_auto] gap-4 ">
		
		
		<div class="app-bar-slot-default flex-auto "></div>
		
		</div>
	
	<div class="app-bar-row-headline  "><!-- HTML_TAG_START --><!-- HTML_TAG_END -->
				<div class="placeholder h-14 bg-tertiary-50 shadow-md"></div>

				<div class="grid grid-cols-2"><div class="px-5 py-2"><ol class="breadcrumb -p50">
		<li class="crumb"><a class="anchor" href="/bexis2-core-ui/">Home</a></li>
		<li class="crumb-separator" aria-hidden>›</li>

		</ol></div>
					<div class="text-right p-2"><span class="chip variant-soft hover:variant-filled"><span><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 320 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(160 256)" transform-origin="80 0"><g transform="translate(0,0) scale(1,1)"><path d="M80 160c0-35.3 28.7-64 64-64h32c35.3 0 64 28.7 64 64v3.6c0 21.8-11.1 42.1-29.4 53.8l-42.2 27.1c-25.2 16.2-40.4 44.1-40.4 74V320c0 17.7 14.3 32 32 32s32-14.3 32-32v-1.4c0-8.2 4.2-15.8 11-20.2l42.2-27.1c36.6-23.6 58.8-64.1 58.8-107.7V160c0-70.7-57.3-128-128-128H144C73.3 32 16 89.3 16 160c0 17.7 14.3 32 32 32s32-14.3 32-32zm80 320a40 40 0 1 0 0-80 40 40 0 1 0 0 80z" fill="currentColor" transform="translate(-160 -256)"></path></g></g></svg></span></span>

		<div class="card p-4 variant-filled-primary w-60 z-50 text-left shadow-md" data-popup="noteTarget">this page shows how to use icons in bexis 2. you will also find an overview of all icons and the usecases for them. </div>

	</div></div></div></div>
	</header>

	
	<div class="flex-auto w-full h-full flex overflow-hidden">
		

		
		<div id="page" class=" flex-1 overflow-x-hidden flex flex-col" style="scrollbar-gutter: auto;">
			

			
			<main id="page-content" class="flex-auto ">
	

	

	

	<div class="flex flex-initial space-x-5">

		<div class="flex justify-center w-screen"><div class="w-full max-w-7xl p-5 space-y-5 border-y border-solid border-surface-500"><div><div class="py-5"><h3 class="h3">SetIcon</h3>
		<div><span slot="info">This example shows how to set a Icon. </span></div></div>

	<div class="py-5"><a class="chip variant-ringed" href="https://fontawesome.com/v5.15/icons?d=gallery&amp;p=2&amp;s=solid&amp;m=free">Free Solid Awesome Font Icons v5</a><a class="chip variant-ringed" href="https://www.npmjs.com/package/svelte-fa">https://www.npmjs.com/package/svelte-fa</a></div>

	

	

	<div><div class="card flex p-5 gap-10"><div class="w-1/2"><div class="grid grid-cols-2"><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 320 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(160 256)" transform-origin="80 0"><g transform="translate(0,0) scale(1,1)"><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z" fill="currentColor" transform="translate(-160 -256)"></path></g></g></svg>
	<span><b>faAngleRight</b> - fa-angle-right</span>

	<svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 448 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(224 256)" transform-origin="112 0"><g transform="translate(0,0) scale(1,1)"><path d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" fill="currentColor" transform="translate(-224 -256)"></path></g></g></svg>
	<span><b>faAngleDown</b> - fa-angle-down</span>

	<svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 512 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(256 256)" transform-origin="128 0"><g transform="translate(0,0) scale(1,1)"><path d="M96 0C60.7 0 32 28.7 32 64V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H96zM208 288h64c44.2 0 80 35.8 80 80c0 8.8-7.2 16-16 16H144c-8.8 0-16-7.2-16-16c0-44.2 35.8-80 80-80zm-32-96a64 64 0 1 1 128 0 64 64 0 1 1 -128 0zM512 80c0-8.8-7.2-16-16-16s-16 7.2-16 16v64c0 8.8 7.2 16 16 16s16-7.2 16-16V80zM496 192c-8.8 0-16 7.2-16 16v64c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm16 144c0-8.8-7.2-16-16-16s-16 7.2-16 16v64c0 8.8 7.2 16 16 16s16-7.2 16-16V336z" fill="currentColor" transform="translate(-256 -256)"></path></g></g></svg>
	<span><b>faAddressBook</b> - fa-adress-book </span></div></div>

			<div class="w-1/2">

<div class="tab-group space-y-4 " data-testid="tab-group">
	<div class="tab-list flex overflow-x-auto hide-scrollbar justify-start border-b border-surface-400-500-token " role="tablist" aria-labelledby=""><label class="text-center cursor-pointer transition-colors duration-100 flex-none px-4 py-2 rounded-tl-container-token rounded-tr-container-token border-b-2 border-surface-900-50-token " title="">
	<div class="tab " data-testid="tab" role="tab" aria-controls="" aria-selected="true" tabindex="0">
		<div class="h-0 w-0 overflow-hidden"><input type="radio" name="html" value="0" tabindex="-1" checked></div>
		
		<div class="tab-interface  space-y-1">
			<div class="tab-label">Svelte</div></div></div></label>
					
					
					
					
					
					
					

					</div>
	
	<div class="tab-panel  " role="tabpanel" aria-labelledby="" tabindex="0">
						
<div class="codeblock overflow-hidden shadow bg-neutral-900/90  text-sm text-white rounded-container-token shadow " data-testid="codeblock">
	<header class="codeblock-header text-xs text-white/50 uppercase flex justify-between items-center p-2 pl-4">
		<span class="codeblock-language">html</span>
		
		<button class="codeblock-btn btn btn-sm variant-soft !text-white">Copy</button></header>
	
	<pre class="codeblock-pre whitespace-pre-wrap break-all p-4 pt-1"><code class="codeblock-code language-html lineNumbers">&lt;script>
	import Fa from 'svelte-fa/src/fa.svelte';

	import { faAngleDown } from '@fortawesome/free-solid-svg-icons';
	import { faAngleRight } from '@fortawesome/free-solid-svg-icons';
	import { faAddressBook } from '@fortawesome/free-solid-svg-icons';
&lt;/script>

&lt;div class="grid grid-cols-2">
	&lt;Fa icon={faAngleRight} />
	&lt;span>&lt;b>faAngleRight&lt;/b> - fa-angle-right&lt;/span>

	&lt;Fa icon={faAngleDown} />
	&lt;span>&lt;b>faAngleDown&lt;/b> - fa-angle-down&lt;/span>

	&lt;Fa icon={faAddressBook} />
	&lt;span>&lt;b>faAddressBook&lt;/b> - fa-adress-book &lt;/span>
&lt;/div></code></pre></div>
					</div></div></div></div></div></div>

		<div><div class="py-5"><h3 class="h3">Used Icons</h3>
		<div><span slot="info">This story shows alle used icons in bexis 2. </span></div></div>

	<div class="py-5"><a class="chip variant-ringed" href="https://fontawesome.com/v5.15/icons?d=gallery&amp;p=2&amp;s=solid&amp;m=free">Free Solid Awesome Font Icons v5</a><a class="chip variant-ringed" href="https://www.npmjs.com/package/svelte-fa">https://www.npmjs.com/package/svelte-fa</a></div>

	

	

	<div><div class="card flex p-5 gap-10"><div class="w-1/2"><div><table class="table table-compact bg-tertiary-200"><thead><tr class="bg-primary-300"><th>Icon</th>
				<th>Id</th>
				<th>Case</th></tr></thead>
		<tbody><tr><td><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 448 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(224 256)" transform-origin="112 0"><g transform="translate(0,0) scale(1,1)"><path d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" fill="currentColor" transform="translate(-224 -256)"></path></g></g></svg></td>
				<td>faAngleDown</td>
				<td>Expand</td></tr>
			<tr><td><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 320 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(160 256)" transform-origin="80 0"><g transform="translate(0,0) scale(1,1)"><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z" fill="currentColor" transform="translate(-160 -256)"></path></g></g></svg></td>
				<td>faAngleRight</td>
				<td>Collapse</td></tr>
			<tr><td><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 448 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(224 256)" transform-origin="112 0"><g transform="translate(0,0) scale(1,1)"><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" fill="currentColor" transform="translate(-224 -256)"></path></g></g></svg></td>
				<td>faSave</td>
				<td>Save</td></tr>
			<tr><td><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 576 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(288 256)" transform-origin="144 0"><g transform="translate(0,0) scale(1,1)"><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z" fill="currentColor" transform="translate(-288 -256)"></path></g></g></svg></td>
				<td>faEye</td>
				<td>Show</td></tr>
			<tr><td><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 512 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(256 256)" transform-origin="128 0"><g transform="translate(0,0) scale(1,1)"><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" fill="currentColor" transform="translate(-256 -256)"></path></g></g></svg></td>
				<td>faPen</td>
				<td>Edit</td></tr>
			<tr><td><svg class="svelte-fa  svelte-1cj2gr0" style="height:1em;vertical-align:-.125em;transform-origin:center;overflow:visible" viewBox="0 0 448 512" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"><g transform="translate(224 256)" transform-origin="112 0"><g transform="translate(0,0) scale(1,1)"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" fill="currentColor" transform="translate(-224 -256)"></path></g></g></svg></td>
				<td>faTrash</td>
				<td>Delete</td></tr></tbody></table></div></div>

			<div class="w-1/2">

<div class="tab-group space-y-4 " data-testid="tab-group">
	<div class="tab-list flex overflow-x-auto hide-scrollbar justify-start border-b border-surface-400-500-token " role="tablist" aria-labelledby=""><label class="text-center cursor-pointer transition-colors duration-100 flex-none px-4 py-2 rounded-tl-container-token rounded-tr-container-token border-b-2 border-surface-900-50-token " title="">
	<div class="tab " data-testid="tab" role="tab" aria-controls="" aria-selected="true" tabindex="0">
		<div class="h-0 w-0 overflow-hidden"><input type="radio" name="html" value="0" tabindex="-1" checked></div>
		
		<div class="tab-interface  space-y-1">
			<div class="tab-label">Svelte</div></div></div></label>
					
					
					
					
					
					
					

					</div>
	
	<div class="tab-panel  " role="tabpanel" aria-labelledby="" tabindex="0">
						
<div class="codeblock overflow-hidden shadow bg-neutral-900/90  text-sm text-white rounded-container-token shadow " data-testid="codeblock">
	<header class="codeblock-header text-xs text-white/50 uppercase flex justify-between items-center p-2 pl-4">
		<span class="codeblock-language">html</span>
		
		<button class="codeblock-btn btn btn-sm variant-soft !text-white">Copy</button></header>
	
	<pre class="codeblock-pre whitespace-pre-wrap break-all p-4 pt-1"><code class="codeblock-code language-html lineNumbers">&lt;script>
	import Fa from 'svelte-fa/src/fa.svelte';

	import { faAngleDown } from '@fortawesome/free-solid-svg-icons';
	import { faAngleRight } from '@fortawesome/free-solid-svg-icons';
	import { faSave } from '@fortawesome/free-solid-svg-icons';
	import { faEye } from '@fortawesome/free-solid-svg-icons';
	import { faPen } from '@fortawesome/free-solid-svg-icons';
	import { faTrash } from '@fortawesome/free-solid-svg-icons';
&lt;/script>

&lt;div>
	&lt;table class="table table-compact bg-tertiary-200">
		&lt;thead>
			&lt;tr class="bg-primary-300">
				&lt;th>Icon&lt;/th>
				&lt;th>Id&lt;/th>
				&lt;th>Case&lt;/th>
			&lt;/tr>
		&lt;/thead>
		&lt;tbody>
			&lt;tr>
				&lt;td>&lt;Fa icon={faAngleDown} />&lt;/td>
				&lt;td>faAngleDown&lt;/td>
				&lt;td>Expand&lt;/td>
			&lt;/tr>
			&lt;tr>
				&lt;td>&lt;Fa icon={faAngleRight} />&lt;/td>
				&lt;td>faAngleRight&lt;/td>
				&lt;td>Collapse&lt;/td>
			&lt;/tr>
			&lt;tr>
				&lt;td>&lt;Fa icon={faSave} />&lt;/td>
				&lt;td>faSave&lt;/td>
				&lt;td>Save&lt;/td>
			&lt;/tr>
			&lt;tr>
				&lt;td>&lt;Fa icon={faEye} />&lt;/td>
				&lt;td>faEye&lt;/td>
				&lt;td>Show&lt;/td>
			&lt;/tr>
			&lt;tr>
				&lt;td>&lt;Fa icon={faPen} />&lt;/td>
				&lt;td>faPen&lt;/td>
				&lt;td>Edit&lt;/td>
			&lt;/tr>
			&lt;tr>
				&lt;td>&lt;Fa icon={faTrash} />&lt;/td>
				&lt;td>faTrash&lt;/td>
				&lt;td>Delete&lt;/td>
			&lt;/tr>
		&lt;/tbody>
	&lt;/table>
&lt;/div></code></pre></div>
					</div></div></div></div></div></div></div></div>

		

		</div>

	
	</main>

			
			</div>

		
		</div>

	
	<footer id="shell-footer" class="flex-none "><!-- HTML_TAG_START --><!-- HTML_TAG_END -->
	</footer></div></div></main>

			
			</div>

		
		<aside id="sidebar-right" class="flex-none overflow-x-hidden overflow-y-auto w-auto"><div class="fixed right-0 top-0 overflow-auto h-full  w-max"><div class="px-10 pt-10 text-primary-500 overflow-auto h-max variant-glass-surface"><button class="fixed top-0 left-0 btn btn-sm variant-filled-primary m-1">></button>
				</div></div>
	</aside></div>

	
	</div>
	
	
	</main>

			
			</div>

		
		</div>

	
	</div>


			
			<script>
				{
					__sveltekit_175vv8x = {
						assets: "/bexis2-core-ui",
						base: new URL("../..", location).pathname.slice(0, -1),
						env: {}
					};

					const element = document.currentScript.parentElement;

					const data = [null,null,null];

					Promise.all([
						import("../../_app/immutable/entry/start.66b54f5f.js"),
						import("../../_app/immutable/entry/app.5ccbacc7.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 5, 14],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
