<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../favicon.png" />
		<script src="https://kit.fontawesome.com/76b174a5e9.js" crossorigin="anonymous"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="../../_app/immutable/entry/start.C76gsM3T.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/LAl1x2P8.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/gO6s3pQa.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/CTZO-VO9.js" rel="modulepreload">
		<link href="../../_app/immutable/entry/app.XDPD3mVh.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/B__VcoCg.js" rel="modulepreload">
		<link href="../../_app/immutable/nodes/0.Cn6aY4Lj.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/CktlbyQi.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/BPfwCFTf.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/DQmKcu1S.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/B64oUEdE.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/CWgJJk9V.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/DaO3of6u.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/Clq5uqR3.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/cagT9AHy.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/CgU5AtxT.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/BjkVifc2.js" rel="modulepreload">
		<link href="../../_app/immutable/nodes/7.4I3SW8_X.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/BNAbVCTi.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/CptEIpEl.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/Cv6pUlzB.js" rel="modulepreload">
		<link href="../../_app/immutable/nodes/18.DXBHBBPr.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/BNeyyj5y.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/CVBDS9nU.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/Dn9hsFOJ.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/lCy17-EA.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/2CYK9ZqT.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/CQmpnEGA.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/L8bkzUhW.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/C8exGwJ-.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/B0LNFPRy.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/DYy6jF_a.js" rel="modulepreload">
		<link href="../../_app/immutable/chunks/DbHcLYuo.js" rel="modulepreload">
		
		<link href="../../_app/immutable/assets/ProgressBar.c6i8ireL.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/0.lCvN_97U.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/theme-bexis2.BT5H_Uwe.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/index.DdWHEj6G.css" rel="stylesheet">

		<script></script>
	</head>
	<body class="variant" data-theme="bexis2theme">
		<div>
			<script>
				{
					__sveltekit_h2j1bz = {
						base: new URL("../..", location).pathname.slice(0, -1),
						assets: "/bexis2-core-ui"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../../_app/immutable/entry/start.C76gsM3T.js"),
						import("../../_app/immutable/entry/app.XDPD3mVh.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
