<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../favicon.png" />
		<script src="https://kit.fontawesome.com/76b174a5e9.js" crossorigin="anonymous"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="../../_app/immutable/entry/start.c22e8570.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.cdd04446.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/singletons.fce9383c.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.634d3146.js">
		<link rel="modulepreload" href="../../_app/immutable/entry/app.673d49d5.js">
	</head>
	<body>
		<div>
			<script>
				{
					__sveltekit_ju9zg8 = {
						base: new URL("../..", location).pathname.slice(0, -1),
						env: {}
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../../_app/immutable/entry/start.c22e8570.js"),
						import("../../_app/immutable/entry/app.673d49d5.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
